nav {
  position: sticky;
  top: 0;
  background: white;
  z-index: 100;
  border-bottom: 1px solid #eee;
}

.nav-container {
  max-width: 1100px;
  margin: auto;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.2rem;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 25px;
}

.nav-links a {
  text-decoration: none;
  color: black;
  font-size: 0.9rem;
}


.hero {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 20px;
}

.hero h1 {
  font-size: 2.8rem;
  margin-bottom: 15px;
}

.tagline {
  font-size: 1.1rem;
  margin-bottom: 30px;
  color: #444;
}
