nav {
  position: sticky;
  top: 0;
  background: white;
  z-index: 100;
  border-bottom: 1px solid #eee;
}

.nav-container {
  max-width: 1100px;
  margin: auto;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.2rem;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 25px;
}

.nav-links a {
  text-decoration: none;
  color: black;
  font-size: 0.9rem;
}
